/* Masque le bloc navigation sur la tableau de bord. */
.block_navigation.card {
    display: none;
}

/* Ajoute une marge entre la barre des onglets et le contenu. */
#apsolu-dashboard-tab-content {
    margin-top: 1em;
}

/* Ajoute une marge entre la liste des paiements et la légende. */
#apsolu-dashboard-payment-legend {
    margin-top: 1em;
}

.block_apsolu_dashboard .well {
    padding: .5em 1em;
}

.block-apsolu-activities-contacts-email-li {
    background-image: url('[[pix:core|t/email]]');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .8em;
}

.block-apsolu-activities-contacts-email-li a {
    padding-left: 1em;
}

#apsolu-dashboard-search-students,
#apsolu-dashboard-search-ffsu,
#apsolu-dashboard-search-shnu,
#apsolu-dashboard-search-pendingenrolments {
    background-image: url('[[pix:core|t/preview]]');
}

#apsolu-dashboard-search-grades {
    background-image: url('[[pix:core|i/grades]]');
}

#apsolu-dashboard-search-pendingenrolments {
    background-image: url('[[pix:core|i/enrolusers]]');
}

#apsolu-dashboard-search-students,
#apsolu-dashboard-search-ffsu,
#apsolu-dashboard-search-shnu,
#apsolu-dashboard-search-grades,
#apsolu-dashboard-search-pendingenrolments {
    background-position: .5em center;
    background-repeat: no-repeat;
    background-size: .8em;
    margin: 0 1em;
    padding-left: 2em;
}
