<div id="courses" class="tab-pane fade in">
  {{! Liste des cours de l'utilisateur. }}
  {{^count_courses}}
  <p class="alert alert-info">{{#str}}no_courses, block_apsolu_dashboard{{/str}}</p>
  {{/count_courses}}

  {{#count_courses}}
  <ul class="list-unstyled">
    {{#courses}}
    <li class="bg-light card mb-2 p-2">
      {{^viewable}}
      <p class="card-header">{{fullname}}</p>
      {{/viewable}}

      {{#viewable}}
      <p class="card-header"><a href="{{wwwroot}}/course/view.php?id={{id}}">{{fullname}}</a></p>
      {{/viewable}}

      {{#count_enrolments}}
      <ul class="card-body">
        {{#enrolments}}
        <li>{{{.}}}</li>
        {{/enrolments}}
      </ul>
      {{/count_enrolments}}
    </li>
    {{/courses}}
  </ul>
  {{/count_courses}}
</div>
