{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_dashboard/pendingenrolments

    Template Moodle pour afficher les inscriptions en attente de validation.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * enrolmentstypes
    * enrols
      * fullname
      * name
      * enrolments
      * lastenrolment

    Example context (json):
    {
        "wwwroot": "https://apsolu.fr",
        "enrolmentstypes": [],
        "enrols": []
    }
}}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{#str}}fullname{{/str}}</th>
            <th>{{#str}}enrolmentinstances, enrol{{/str}}</th>
            {{#enrolmentstypes}}
            <th>{{.}}</th>
            {{/enrolmentstypes}}
            <th>{{#str}}last_enrolment, block_apsolu_dashboard{{/str}}</th>
        </tr>
    </thead>

    <tbody>
    {{#enrols}}
        <tr{{#warninglastenrolment}} class="table-warning"{{/warninglastenrolment}}>
            <td>{{fullname}}</td>
            <td><a href="{{wwwroot}}/enrol/select/manage.php?enrolid={{id}}">{{name}}</a></td>
            {{#enrolments}}
            <td>{{.}}</td>
            {{/enrolments}}
            <td>{{lastenrolment}}</td>
        </tr>
    {{/enrols}}
    </tbody>
</table>
