{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_dashboard/rendezvous_datetime

    Template Moodle pour afficher la date du rendez-vous.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * defaultsessiontime
    * start
    * startstr
    * end
    * endstr

    Example context (json):
    {
        "defaultsessiontime": false,
        "start": "2020-05-18 08:30:00",
        "startstr": "Lundi 18 mai à 08h30",
        "end": "2020-05-18 10:30:00",
        "endstr": "Lundi 18 mai à 10h30"
    }
}}
<p class="{{#soon}}mark {{/soon}}block-apsolu-activities-time-p{{^defaultsessiontime}} text-danger{{/defaultsessiontime}}">
    {{#defaultsessiontime}}<i class="icon fa fa-fw fa-calendar navicon" aria-hidden="true" tabindex="-1"></i>{{/defaultsessiontime}}
    {{^defaultsessiontime}}<i class="icon fa fa-fw fa-warning navicon" aria-hidden="true" tabindex="-1"></i>{{/defaultsessiontime}}

    <time datetime="{{start}}">{{startstr}}</time> &raquo; <time datetime="{{end}}">{{endstr}}</time>
</p>
