{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_dashboard/rendezvous_contacts

    Template Moodle pour afficher les contacts du rendez-vous.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * teachers
        * firstname
        * lastname
        * email

    Example context (json):
    {
        "teachers": [
            {
                "email": "contact@apsolu.fr",
                "firstname": "bob",
                "lastname": "apsolu"
            }
        ]
    }
}}
<dl class="row">
    <dt class="font-weight-normal mr-1">{{#str}}contact_your_teacher, block_apsolu_dashboard{{/str}}</dt>
    {{#teachers}}
    <dd class="mb-0">
        <i class="icon fa fa-fw fa-envelope-o navicon ms-2 mr-1" aria-hidden="true" tabindex="-1"></i>
        <a href="mailto:{{ email }}">{{ firstname }} {{ lastname }}</a>
    </dd>
    {{/teachers}}
</dl>
