<div id="home" class="tab-pane fade in active">
  {{^count_sessions}}
    {{^pre_count_sessions}}
      <div class="post alert alert-info">{{#str}}noupcomingevents,block_apsolu_courses{{/str}}</div>
    {{/pre_count_sessions}}
  {{/count_sessions}}

  {{#pre_count_sessions}}
    <h3 class="block-apsolu-attendance-h3">{{#str}}presessions,block_apsolu_courses{{/str}}</h3>
    {{#isonwaitlist}}
    {{#str}}presessionsnotice,block_apsolu_courses{{/str}}
    {{/isonwaitlist}}

    {{#pre_sessions}}
    <div class="block-apsolu-activities-box-div">
      <div class="clearfix">
        <p class="pull-left">{{label}}</p>
        {{#count_teachers}}
        <div class="pull-right">
          <p class="pull-left">Contacter votre enseignant :</p>
          <ul class="pull-right list list-inline block-apsolu-activities-contacts-ul">
            {{#teachers}}
            <li class="block-apsolu-activities-contacts-email-li"><a href="mailto:{{email}}">{{firstname}} {{lastname}}</a></li>
            {{/teachers}}
          </ul>
        </div>
        {{/count_teachers}}
      </div>
      <div class="clearfix">
        <p class="block-apsolu-activities-time-p{{^defaultsessiontime}} block-apsolu-attendance-warning text-danger{{/defaultsessiontime}}">
          <time datetime="{{start}}">{{startstr}}</time> &raquo; <time datetime="{{end}}">{{endstr}}</time>
        </p>
        <div>{{{location}}}
          {{#latitude}}
          <a target="_blank" href="https://www.openstreetmap.org/?mlat={{latitude}}&mlon={{longitude}}" class="apsolu-location-markers-a" data-longitude="{{longitude}}" data-latitude="{{latitude}}">{{{marker_pix_url}}}</a>
          {{/latitude}}
        </div>
      </div>
    </div>
    {{/pre_sessions}}
  {{/pre_count_sessions}}

  {{#count_sessions}}
    {{#pre_count_sessions}}
    <h3 class="block-apsolu-attendance-h3">{{#str}}sessions,block_apsolu_courses{{/str}}</h3>
    {{/pre_count_sessions}}

    {{#count_enrolment_errors}}
      <div class="alert alert-danger" id="block-apsolu-attendance-unallowed-enrolments">
        <h3 id="block-apsolu-attendance-unallowed-enrolments-h3">{{#str}}important, block_apsolu_courses{{/str}}</h3>
        <p>{{#str}}unallowed_enrolment, block_apsolu_courses{{/str}}</p>
        <ul id="block-apsolu-attendance-unallowed-enrolments-list">
        {{#enrolment_errors}}
          <li>{{{.}}}</li>
        {{/enrolment_errors}}
        </ul>
        <p>{{#str}}unallowed_enrolment_contact, block_apsolu_courses{{/str}}</p>
      </div>
    {{/count_enrolment_errors}}

    {{#sessions}}
    <div class="block-apsolu-activities-box-div">
      <div class="clearfix">
        {{#started}}
        <p class="pull-left">{{{link}}}</p>
        {{/started}}
        {{^started}}
        <p class="pull-left">{{label}}</p>
        {{/started}}
        {{#count_teachers}}
        <div class="pull-right">
          <p class="pull-left">Contacter votre enseignant :</p>
          <ul class="pull-right list list-inline block-apsolu-activities-contacts-ul">
            {{#teachers}}
            <li class="block-apsolu-activities-contacts-email-li"><a href="mailto:{{email}}">{{firstname}} {{lastname}}</a></li>
            {{/teachers}}
          </ul>
        </div>
        {{/count_teachers}}
      </div>
      <div class="clearfix">
            <p class="block-apsolu-activities-time-p{{^defaultsessiontime}} block-apsolu-attendance-warning text-danger{{/defaultsessiontime}}">
          <time datetime="{{start}}">{{startstr}}</time> &raquo; <time datetime="{{end}}">{{endstr}}</time>
        </p>
        <div>{{{location}}}
          {{#latitude}}
          <a target="_blank" href="https://www.openstreetmap.org/?mlat={{latitude}}&mlon={{longitude}}" class="apsolu-location-markers-a" data-longitude="{{longitude}}" data-latitude="{{latitude}}">{{{marker_pix}}}</a>
          {{/latitude}}
        </div>
      </div>
      </div>
    {{/sessions}}
  {{/count_sessions}}

  <div id="apsolu-location-map"></div>
  <div><span style="display: none;">{{{marker_pix_url}}}</span></div>
</div>
