<dl class="row">
    <dt class="font-weight-normal">{{#str}}contact_your_teacher, block_apsolu_dashboard{{/str}}</dt>
    <div class="ml-2">
        {{#teachers}}
        <dd class="mb-0">
            <i class="icon fa fa-fw fa-envelope-o navicon" aria-hidden="true" tabindex="-1"></i>
            <a href="mailto:{{ email }}">{{ firstname }} {{ lastname }}</a>
        </dd>
        {{/teachers}}
    </div>
</dl>
