{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_dashboard/rendezvous_contacts

    Template Moodle pour afficher les contacts du rendez-vous.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * isonwaitlist
    * pre_count_sessions
    * pre_sessions
        * label
        * enrolment_list
        * count_teachers
        * teachers Voir le template @block_apsolu_dashboard/rendezvous_contacts
    * count_sessions
    * sessions
        * label
        * link
        * started
        * count_teachers
        * teachers Voir le template @block_apsolu_dashboard/rendezvous_contacts
    * count_enrolment_errors
    * enrolment_errors

    Example context (json):
    {
        "isonwaitlist": false,
        "pre_count_sessions": 0,
        "pre_sessions": [],
        "count_sessions": 0,
        "sessions": [],
        "count_enrolment_errors": 0,
        "enrolment_errors": []
    }
}}
<div id="home" class="tab-pane fade in active">
    {{^count_sessions}}
        <div class="post alert alert-info">{{#str}}no_upcoming_events, block_apsolu_dashboard{{/str}}</div>
    {{/count_sessions}}

    {{#count_sessions}}
        {{#isonwaitlist}}
            {{#str}}pre-sessions_notice, block_apsolu_dashboard{{/str}}
        {{/isonwaitlist}}

        {{#count_enrolment_errors}}
        <div class="alert alert-danger" id="block-apsolu-attendance-unallowed-enrolments">
            <h3 id="block-apsolu-attendance-unallowed-enrolments-h3">{{#str}}important, block_apsolu_dashboard{{/str}}</h3>
            <p>{{#str}}unallowed_enrolment, block_apsolu_dashboard{{/str}}</p>
            <ul id="block-apsolu-attendance-unallowed-enrolments-list">
            {{#enrolment_errors}}
                <li>{{{.}}}</li>
            {{/enrolment_errors}}
            </ul>
            <p>{{#str}}unallowed_enrolment_contact, block_apsolu_dashboard{{/str}}</p>
        </div>
        {{/count_enrolment_errors}}

        <div class="well">
            {{#sessions}}
            <div class="{{^enrolment_wait}}bg-light{{/enrolment_wait}}{{#enrolment_wait}}bg-secondary{{/enrolment_wait}} card mb-2 p-2">
                <div class="row">
                    <div class="col">
                        {{#enrolment_accepted}}
                        {{#started}}<p>{{{ link }}}</p>{{/started}}
                        {{^started}}<p>{{ label }}</p>{{/started}}
                        {{/enrolment_accepted}}
                        {{#enrolment_main}}<p>{{ label }} <span class="badge badge-success">{{ enrolment_main }}</span></p>{{/enrolment_main}}
                        {{#enrolment_wait}}<p class="text-muted">{{ label }} <span class="badge badge-warning">{{ enrolment_wait }}</span></p>{{/enrolment_wait}}
                    </div>
                    {{#count_teachers}}
                    <div class="col">
                        {{> block_apsolu_dashboard/rendezvous_contacts }}
                    </div>
                    {{/count_teachers}}
                </div>
                <div class="row">
                    <div class="col">
                        {{> block_apsolu_dashboard/rendezvous_location }}
                    </div>
                    <div class="col">
                        {{> block_apsolu_dashboard/rendezvous_datetime }}
                    </div>
                </div>
            </div>
            {{/sessions}}
        </div>
    {{/count_sessions}}
</div>
