{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_dashboard/teachings

    Template Moodle pour afficher l'onglet d'enseignements sur la tableau de bord.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * is_siuaps_rennes
    * shnu
    * pendingenrolments
    * count_main_teachings
    * main_teachings
        * fullname
        * visible
        * enrolid
    * count_other_teachings
    * other_teachings
        * fullname
        * visible

    Example context (json):
    {
        "wwwroot": "https://apsolu.fr",
        "is_siuaps_rennes": false,
        "shnu": false,
        "pendingenrolments": [],
        "count_main_teachings": 0,
        "main_teachings": [],
        "count_other_teachings": 0,
        "other_teachings": []
    }
}}

<ul class="list-inline">
    <li class="list-inline-item"><a id="apsolu-dashboard-search-students" class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/blocks/apsolu_dashboard/extractions.php">{{#str}}my_students, block_apsolu_dashboard{{/str}}</a></li>

    {{#is_siuaps_rennes}}
    {{#shnu}}
    <li class="list-inline-item"><a id="apsolu-dashboard-search-shnu" class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/blocks/apsolu_dashboard/shnu.php">{{#str}}my_shnu, block_apsolu_dashboard{{/str}}</a></li>
    {{/shnu}}
    {{/is_siuaps_rennes}}

    {{#ffsu}}
    <li class="list-inline-item"><a id="apsolu-dashboard-search-ffsu" class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/local/apsolu/federation/listing/index.php">{{#str}}federation_list, local_apsolu{{/str}}</a></li>
    {{/ffsu}}

    {{#grading}}
<li class="list-inline-item"><a id="apsolu-dashboard-search-grades" class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/local/apsolu/grades/grade/index.php">{{#str}}grades{{/str}}</a></li>
    {{/grading}}

    {{#pendingenrolments}}
    <li class="list-inline-item"><a id="apsolu-dashboard-search-pendingenrolments" class="btn btn-sm btn-warning" href="{{wwwroot}}/blocks/apsolu_dashboard/pendingenrolments.php">{{#str}}pending_enrolments, block_apsolu_dashboard{{/str}} ({{pendingenrolments}})</a></li>
    {{/pendingenrolments}}
    {{^pendingenrolments}}
    <li class="list-inline-item"><a id="apsolu-dashboard-search-pendingenrolments" class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/blocks/apsolu_dashboard/pendingenrolments.php">{{#str}}pending_enrolments, block_apsolu_dashboard{{/str}}</a></li>
    {{/pendingenrolments}}
</ul>

<ul class="mb-2 nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a aria-controls="main-teachings" aria-selected="true" class="nav-link active" data-bs-toggle="tab" href="#main-teachings" id="main-teachings-tab" role="tab" tabindex="0">{{#str}}my_main_teachings, block_apsolu_dashboard{{/str}}</a>
    </li>
    <li class="nav-item" role="none">
        <a aria-controls="other-teachings" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#other-teachings" id="other-teachings-tab" role="tab" tabindex="-1">{{#str}}my_other_teachings, block_apsolu_dashboard{{/str}}</a>
    </li>
</ul>

<div class="tab-content">
    <div id="main-teachings" class="tab-pane show active" role="tabpanel" aria-labelledby="main-teachings-tab">
        {{^count_main_teachings}}
        <p class="alert alert-info">{{#str}}no_courses, block_apsolu_dashboard{{/str}}</p>
        {{/count_main_teachings}}

        {{#count_main_teachings}}
        <ul class="list-unstyled list-group">
            {{#main_teachings}}
            <li class="list-group-item list-group-item-action">
                <p class="pull-left"><a {{^visible}}class="text-muted" {{/visible}}href="{{wwwroot}}/course/view.php?id={{id}}">{{fullname}}</a></p>
                {{#enrolid}}
                <ul class="list-inline pull-right">
                    <li class="list-inline-item"><a class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/enrol/select/manage.php?enrolid={{enrolid}}">{{#str}}enrol_users, block_apsolu_dashboard{{/str}}</a></li>
                    <li class="list-inline-item">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default btn-secondary" href="{{wwwroot}}/enrol/select/export.php?enrolid={{enrolid}}&format=xls">{{#str}}export, block_apsolu_dashboard{{/str}}</a>
                            {{#has_many_enrolments}}
                            <button type="button" class="btn btn-sm btn-default btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                {{#enrolments}}
                                    <a class="dropdown-item" href="{{wwwroot}}/enrol/select/export.php?enrolid={{id}}&format=xls">{{name}}</a>
                                {{/enrolments}}
                            </div>
                            {{/has_many_enrolments}}
                        </div>
                    </li>
                </ul>
                {{/enrolid}}
            </li>
            {{/main_teachings}}
        </ul>
        {{/count_main_teachings}}
    </div>
    <div id="other-teachings" class="tab-pane fade" role="tabpanel" aria-labelledby="other-teachings-tab">
        {{^count_other_teachings}}
        <p class="alert alert-info">{{#str}}no_courses, block_apsolu_dashboard{{/str}}</p>
        {{/count_other_teachings}}

        {{#count_other_teachings}}
        <ul class="list-unstyled list-group">
            {{#other_teachings}}
            <li class="list-group-item list-group-item-action">
                <p><a {{^visible}}class="text-muted" {{/visible}}href="{{wwwroot}}/course/view.php?id={{id}}">{{fullname}}</a></p>
            </li>
            {{/other_teachings}}
        </ul>
        {{/count_other_teachings}}
    </div>
</div>
